/* SLIMBOX */

#lbOverlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: #000;
	cursor: pointer;
	z-index: 5000;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
	z-index: 5001;
}

.lbLoading {
	background: #fff url(../../images/loading.gif) no-repeat center;
	z-index: 5003;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
	z-index: 5002;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
	z-index: 5003;
}

#lbPrevLink {
	left: 0;
	z-index: 5003;
}

#lbPrevLink:hover {
	background: transparent url(../../images/prevlabel.gif) no-repeat 0% 15%;
	z-index: 5003;
}

#lbNextLink {
	right: 0;
	z-index: 5003;
}

#lbNextLink:hover {
	background: transparent url(../../images/nextlabel.gif) no-repeat 100% 15%;
	z-index: 5003;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
	z-index: 5001;
}

#lbCloseLink {
	position: absolute;
	bottom: 0;
	right: 10px;
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../../images/closelabel.gif) no-repeat bottom;
	margin: 5px 0;
	z-index: 5002;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
	z-index: 5002;
}

#lbCaption {
	line-height: 17px;
	margin-bottom: 15px;
	z-index: 5002;
}