/* =================================================================================================== */
/* THEME: The Nichols Company 																		   */
/* By: Tim Novinger 																		   		   */
/* Copyright 2008 by The Nichols Company 															   */
/* =================================================================================================== */
body{background: url(../../images/wood_bg.jpg) repeat;}																/* main background color */


a:link,	a:visited{color: #666; font-weight:normal; text-decoration:none; outline:0;}									/* general link colors */
a:hover, a:active{color: #453621; font-weight:normal; text-decoration:none; outline:0;}

#main_content p a:link, table a:link, #main_content p a:visited, table a:visited{
	color:inherit; text-decoration:underline; border-bottom:none;}
#main_content p a:hover, table a:hover, #main_content p a:active, table a:active{
	color:#453621 !important; text-decoration:none; border-bottom:2px solid #453621;}

#top{background: #453621;}																								/* repeating top background */
#top p{font-size: 18px; color:#B79069;}																					/* "website" text style */
#top p span{font-size: 36px; color:#fff;}																				/* company name header */

#main_content{border-right:4px solid #453621; border-bottom:4px solid #453621;}

/* LOGOUT LINK */
#top #logout{font-size: 18px; color:#fff; position:absolute; top:-5px; right:30px;}
#top #logout span, #top #logout span a{font-size:11px; color:#CC0000;}
#top #logout span a:link, #top #logout span a:visited{color: #CC0000; padding:1px 0;}
#top #logout span a:hover, #top #logout span a:active{color: #CCC; padding:1px 0;}

/* TOP LEVEL NAVIGATION */
#menu ul li a:link, #menu ul li a:visited{color:#5F4D35; background:none;}
#menu ul li a:hover, #menu ul li a:active{color:#FFF;}
		
/* STICKY TABS */
#dashboard #m_dashboard a,
#manage #m_manage a,
#gallery #m_gallery a,
#downloads #m_downloads a,
#employment #m_employment a,
#settings #m_settings a,
#users #m_users a,
#help #m_help a{
	position:relative; 
	font-size:18px; 
	color:#B79069; 
	background:#5F4D35; 
	padding:6px 13px 8px 13px; 
	top:-5px;
	}
	
#active_tab{
	position:relative; 
	font-size:18px; 
	color:#B79069; 
	background:#5F4D35; 
	padding:6px 13px 8px 13px; 
	top:-5px;
	}

/* SUB-LEVEL NAVIGATION */
#sub_menu{background:#5F4D35;}																							/* sub-menu bar color */
#sub_menu ul li a:link, #sub_menu ul li a:visited{color:#B79069; background:none;}
#sub_menu ul li a:hover, #sub_menu ul li a:active{color:#B79069; background:#453621;}


#side_info a:link,
#side_info a:visited{
	color: #B79069;
	background: #524028;
	border: 2px solid #453621;
	}
#side_info a:hover,
#side_info a:active{background:#453621; color:#FFF; border:2px solid #453621;}
				
#footer{color: #453621; font-weight:bold;}