html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  text-align: left;
  vertical-align: baseline;
}
a img { border: 0; }
:link img { border: 0; }
:visited img { border: 0; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul { list-style: none; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
html { background: #302110 url(../images/footer-bg.png) repeat; }
body {
  background: #432400 url(../images/top-brown-gradient.png) 43px 0px repeat-x;
  margin: 0 auto;
  width: 100%;
  color: #ffe9cd;
  font-size: 14px;
  font-weight: normal;
  font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
  text-align: center;
  z-index: 1;
}
a:link {
  position: relative;
  background: none;
  color: #ffe9cd;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
a:visited {
  position: relative;
  background: none;
  color: #ffe9cd;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
a:hover {
  position: relative;
  background: #ffe9cd;
  color: #302110;
  text-decoration: none;
  padding: 3px 6px;
  margin: -3px -6px;
  z-index: 5;
}
a:active {
  position: relative;
  background: #ffe9cd;
  color: #302110;
  text-decoration: none;
  padding: 3px 6px;
  margin: -3px -6px;
  z-index: 5;
}
h1, h2 {
  font-family: "Lucida Console", "Courier New", Arial, sans-serif;
  background: #3c1d00;
  border-bottom: 1px solid #5b3000;
  font-weight: normal;
}
h1 {
  margin: 30px 0 10px 0;
  font-size: 32px;
  text-transform: lowercase;
  padding: 0 0 4px 0;
}
h2 {
  margin: 50px 0 10px 0;
  font-size: 20px;
  text-transform: uppercase;
}
h3 {
  margin: 35px 0 5px 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
}
p {
  margin: 20px 0;
  padding: 0;
  line-height: 22px;
}
strong { text-transform: uppercase; }
ul {
  list-style: none;
  padding: 5px 0 5px 40px;
}
ul li {
  list-style-position: outside;
  padding: 5px 0;
}
ol {
  list-style: decimal;
  padding: 5px 0 5px 60px;
}
ol li {
  list-style-position: outside;
  padding: 8px 0;
  line-height: 22px;
}
.clear {
  position: relative;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  padding: 0;
  margin: 0;
}
.required {
  color: #ee0000;
  font-size: 18px;
  padding: 0 2px;
}
.border { border: 10px solid #3c1d00; }
.note {
  font-size: 11px;
  color: #231d14;
}
.date {
  font-size: 11px;
  color: #ebd5b9;
  padding: 0;
  margin: 5px 0;
}
.floatleft {
  position: relative;
  float: left;
  margin: 5px 15px 5px 0;
  padding: 0;
  border: 10px solid #3c1d00;
}
.floatright {
  position: relative;
  float: right;
  margin: 5px 0 5px 15px;
  padding: 0;
  border: 10px solid #3c1d00;
}
form {
  position: relative;
  display: block;
  width: 560px;
  padding: 20px 0;
  margin: 0;
}
label { cursor: pointer; }
form p {
  clear: both;
  margin: 5px 0;
  padding: 5px 0;
}
form span {
  float: right;
  clear: both;
}
input[type="text"] {
  position: relative;
  border: none;
  background: #5b3000;
  color: #ffe9cd;
  padding: 8px 6px;
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", Arial, sans-serif;
  width: 300px;
  top: -7px;
}
input[type="radio"] { margin-left: 30px; }
input[type="submit"] {
  position: relative;
  float: right;
  cursor: pointer;
  background: #302110;
  color: #ffe9cd;
  border: none;
  margin: 20px 0 0 0;
  padding: 10px 15px;
  font-size: 16px;
}
#nav {
  position: relative;
  width: 100%;
  background: #302110 url(../images/bg.png) repeat;
  text-align: center;
  border-bottom: 1px solid #5b3000;
}
#nav ul {
  position: relative;
  display: block;
  list-style: none;
  width: 870px;
  height: 20px;
  margin: 0 auto;
  padding: 11px 0;
  right: -15px;
}
#nav li {
  position: relative;
  float: right;
  padding: 0;
  margin: 0 0 0 30px;
}
#nav li a:link {
  line-height: 20px;
  color: #ffe9cd;
  background: none;
  margin: 0;
  padding: 0 0 1px 0;
  text-decoration: none;
}
#nav li a:visited {
  line-height: 20px;
  color: #ffe9cd;
  background: none;
  margin: 0;
  padding: 0 0 1px 0;
  text-decoration: none;
}
#nav li a:hover {
  line-height: 20px;
  color: #ffe9cd;
  background: none;
  margin: 0;
  padding: 0 0 1px 0;
  text-decoration: none;
}
#nav li a:active {
  line-height: 20px;
  color: #ffe9cd;
  background: none;
  margin: 0;
  padding: 0 0 1px 0;
  text-decoration: none;
}
#nav li a.current { border-bottom: 2px solid #5b3000; }
#content-wrapper {
  position: relative;
  text-align: center;
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
#header {
  position: relative;
  height: 160px;
  margin: 0;
  padding: 0;
  background: transparent;
}
#logo-badge {
  position: absolute;
  top: -44px;
  left: 0;
  z-index: 100;
  border: none;
}
#logo-text {
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
}
#content {
  position: relative;
  text-align: left;
  margin: 0;
  width: 100%;
  padding: 40px 0;
}
#slideshow {
  position: relative;
  width: 880px;
  height: 262px;
  margin-bottom: 50px;
  overflow: hidden;
  background: #302110;
}
#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0;
}
#slideshow img.active {
  z-index: 10;
  opacity: 1;
}
#slideshow img.last-active { z-index: 9; }
#posts { margin-bottom: -20px; }
#posts .pagination {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: #d7c1a5;
}
#posts .pagination a:link {
  padding: 2px 0;
  margin: 0 1px;
}
#posts .pagination a:visited {
  padding: 2px 0;
  margin: 0 1px;
}
#posts .pagination a:hover {
  padding: 2px 1px;
  margin: 0;
}
#posts .pagination a:active {
  padding: 2px 1px;
  margin: 0;
}
#posts .post {
  background: #3c1d00;
  padding: 5px 15px;
  margin: 20px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#posts .post h2 {
  margin: 10px 0;
  border: none;
}
#left-col {
  position: relative;
  width: 600px;
  float: left;
}
#left-col h1 { margin-top: 0; }
#left-col h2 {
  padding: 10px 5px;
  margin-bottom: 5px;
}
#left-col h2 span.method-name {
  float: left;
  margin: 0 10px 10px 0;
}
#left-col p.date { margin: 0 0 30px 0; }
#left-col iframe { border: 10px solid #3c1d00; }
#left-col object { border: 10px solid #3c1d00; }
#left-col #rss { line-height: 20px; }
#left-col #rss .photo { display: none; }
#left-col #rss ul {
  list-style: square;
  margin: -15px 0;
}
#left-col #rss li {
  font-family: "Lucida Console", "Courier New", Arial, sans-serif;
  padding: 10px 0;
}
#right-col {
  position: relative;
  width: 260px;
  float: right;
}
#right-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#right-col ul li { padding: 0 0 30px 0; }
#right-col #post-list li {
  padding: 0 !important;
  margin: 0 0 1px 0 !important;
  text-transform: capitalize;
}
#right-col #post-list li a {
  padding: 10px 7px;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  width: 245px;
  display: block;
  background: #5b3000;
  text-decoration: none;
}
#right-col #post-list li a:hover {
  background: #6f4414;
  color: #ffe9cd;
}
#right-col #post-list li a:active {
  background: #6f4414;
  color: #ffe9cd;
}
#footer-wrapper {
  position: relative;
  background: #302110 url(../images/bg.png) repeat;
  clear: both;
  padding: 30px 0;
  margin: 0;
  border-top: 1px solid #5b3000;
}
#footer-wrapper #footer {
  position: relative;
  width: 900px;
  margin: 0 auto;
  font-family: "Lucida Console", "Courier New", Arial, sans-serif;
}
#footer-wrapper #footer h2 {
  margin: 0 0 25px 0;
  text-transform: lowercase;
  border: none;
  background: none;
}
#footer-wrapper #footer p {
  margin: 0;
  padding: 0;
}
#footer-wrapper #footer a:link {
  border-bottom: 2px solid #5b3000;
  text-decoration: none;
  padding: 0 2px;
  margin: 2px;
}
#footer-wrapper #footer a:visited {
  border-bottom: 2px solid #5b3000;
  text-decoration: none;
  padding: 0 2px;
  margin: 2px;
}
#footer-wrapper #footer a:hover {
  border-bottom: 4px solid #5b3000;
  text-decoration: none;
  padding: 2px;
  margin: 0 2px;
}
#footer-wrapper #footer a:active {
  border-bottom: 4px solid #5b3000;
  text-decoration: none;
  padding: 2px;
  margin: 0 2px;
}
#copyright-wrapper {
  position: relative;
  background: #302110 url(../images/footer-bg.png) repeat;
  border-top: 1px solid #4e3e2b;
  color: #6e5e5b;
  clear: both;
}
#copyright {
  position: relative;
  width: 900px;
  padding: 0;
  margin: 0 auto;
}
#copyright p {
  line-height: 0;
  font-size: 11px;
  margin: 20px 0;
}
#copyright span {
  float: right;
  margin-top: -7px;
}
#copyright a:link {
  border-bottom: 2px solid #5b3000;
  text-decoration: none;
  padding: 1px 0;
  margin: 2px;
}
#copyright a:visited {
  border-bottom: 2px solid #5b3000;
  text-decoration: none;
  padding: 1px 0;
  margin: 2px;
}
#copyright a:hover {
  border-bottom: 4px solid #5b3000;
  text-decoration: none;
  padding: 2px;
  margin: 1px 0;
}
#copyright a:active {
  border-bottom: 4px solid #5b3000;
  text-decoration: none;
  padding: 2px;
  margin: 1px 0;
}
