/*======================= CSS STYLE RESET ======================== */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

/* =================================================================================================== */
/* GENERAL SITE CSS */
/* =================================================================================================== */
html{background:#302110 url(../images/footer-bg.png) repeat;}
body{
	background: #432400 url(../images/top-brown-gradient.png) 40px left repeat-x;;
	margin:0 auto 0 auto;
	width: 100%;
	color: #FFE9CD;
	font-size: 13px;
	font-weight: normal;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	text-align: center;
	z-index: 1;
	}
	
	/* base links */	
	a:link, a:visited{position:relative; background:none; color:#FFE9CD; text-decoration:underline; padding:0; margin:0;}
	a:hover, a:active{position:relative; background:#FFE9CD; color:#432400; text-decoration:none; padding:3px 6px; margin:-3px -6px; z-index:5;}
	
	/* text treatments */
  h1{margin:30px 0 10px 0; font-size:32px; text-transform:lowercase; font-weight:normal; border-bottom:1px solid #5B3000; padding:0 0 4px 0;}
  h2{margin:30px 0 10px 0; font-size:20px; text-transform:lowercase; font-weight:normal;}
  h3{margin:35px 0 5px 0; font-size:16px; text-transform:capitalize; font-weight:bold;}
  
  p{margin:10px 0; padding:0; line-height:18px;}
  
  ul{list-style:none; padding:10px 0 10px 30px;}
  li{list-style-position:inside; padding:5px 0;}
	
	/* =================================================================================================== */
	/* GENERAL CLASSES */ 
	/* =================================================================================================== */
  .clear{position:relative; height:0; font-size:0; line-height:0; clear:both; padding:0; margin:0;}
  .border{border:10px solid #2F1900;}
  
  /* =================================================================================================== */
	/* LAYOUT STYLING */ 
	/* =================================================================================================== */
  #wrapper{
    position: relative;
    text-align: center;
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  
    
   #nav{position:relative; width:100%; background: #302110 url(../images/bg.png) repeat; text-align:center; border-bottom:1px solid #5B3000;}
   #nav ul {position:relative; display:block; list-style:none; width:870px; height:20px; margin:0 auto;}
      #nav li{position:relative; float:right; padding:0; margin:0 0 0 20px;}
        #nav li a:link, #nav li a:visited{line-height:20px; color:#FFE9CE; background:none; text-decoration:none;}
        #nav li a:hover, #nav li a:active{line-height:20px; color:#FFE9CE; background:none; text-decoration:underline;}
    
    
    #header{position:relative; height:160px; margin:0; padding:0; background:transparent;}
      #logo-badge{position:absolute; top:-44px; left:0; z-index:100; border:none;}
      #logo-text{position:relative; float:right; padding:0; margin:0;}
    
    
    #content{position:relative; text-align:left; margin:0; width:100%; padding:40px 0; border-bottom:1px solid #5B3000;}
      #slideshow{}
      
      #left-col{position:relative; width:590px; margin:0 100px 0 0; float:left;}
      #right-col{position:relative; width:240px; float:right;}
  
  
    #footer{position:relative; height:200px;	background: #302110 url(../images/bg.png) repeat; clear:both; padding:0; margin:0;}
  
  
    #copyright{position:relative; top:33px; background:transparent; border-top:1px solid #8E7E6B; color:#8E7E6B; clear:both; padding:0; margin:0;}
      #copyright p{padding:0; margin:0; line-height:33px; font-size:11px;}
      
      
      
      
      
      
      
      
      
      
      
      
      