<% if @page %>

  <% content_for :title, @page.title + ' - ' %>
  <% content_for :seo_keywords, @page.seo_keywords %>
  <% content_for :seo_description, @page.seo_description %>
	  <%= @page.body %>

<% else %>
			
		<h1>Error 404</h1>
		<p class="headline">The page you were looking for doesn't exist.</p>
	  <p>You may have mistyped the address or the page may have moved.</p>
	  
<% end %>