          <div class="clear"></div>
  	    </div>
    </div>
  	<div id="footer-wrapper">
  	  <div id="footer">
  	    <h2>## include_links</h2>
    	  <p>Array { 
  	          "<a href="http://www.meetup.com/screamingmonkeys/" target="_blank" class="fade">meetup</a>",&nbsp;
  	          "<a href="http://www.twitter.com/screaminmonkeys" target="_blank" class="fade">twitter</a>",&nbsp;
  	          "<a href="http://www.new.facebook.com/home.php#/group.php?gid=26687578301&amp;ref=ts" target="_blank" class="fade">facebook</a>",&nbsp;
  	          "<a href="http://www.linkedin.com/groups?about=&amp;gid=904497&amp;trk=anet_ug_grppro" target="_blank" class="fade">linkedin</a>",&nbsp;
  	          "<a href="http://www.flickr.com/groups/screamingmonkeys/" target="_blank" class="fade">flickr</a>",&nbsp;
  	          "<a href="http://www.youtube.com/user/screamingmonkeyswg" target="_blank" class="fade">youtube</a>"
    	     }; </p>
  	  </div>
  	</div>
  	<div id="copyright-wrapper">
  		<div id="copyright">
  		  <p>&#169; Copyright <%= Time.now.year %> The Screaming Monkeys Web Guild. All rights reserved. <span>Hosted by <a href="http://www.heroku.com/">Heroku</a>.</span></p>
  		</div>
  	</div>
  	
  	<!-- !Load Javascripts -->
  	<%= javascript_include_tag 'jquery-1.2.6.min', 'slideshow' %>
</body>
</html>