					</div>
				</div>
			</div>
		</div>
		<div id="content-bottom"></div>
		<div id="copyright">
			<p>&#169;  <%= copyright_date %> <a href="mailto:theboss@screamingmonkeys.org">The Screaming Monkeys Web Guild</a>. It's bad Joo Joo to steal our stuff, please don't.</p>
		</div>
  	</div>
</div>
<%= javascript_include_tag "enhancements" %>
</body>
</html>