<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
  <meta name="distribution" content="global" />
  <meta name="revisit-after" content="20 days" />
  <meta name="robots" content="all,follow,index" />
  <meta name="author" content="Tim Novinger, James Mitchell" />
  <meta name="owner" content="The Screaming Monkeys Web Guild" />
  <meta name="verify-v1" content="qxlqr4BDbtzi2Y22mHfgeci6UJTmvbxMO8aZLWjm16o=" />
  <meta name="copyright" content="&#169; <%= copyright_date %> Screaming Monkeys Web Guild www.screamingmonkeys.org" />
  <meta name="keywords" content="fort wayne, indiana, web design, web development, guild, group, creative, design, social, organization, meetup, geekup, meet-up, geek-up, visual design, php, asp.net, ruby on rails, javascript, graphic design, geeks, get together, gathering, technology, college, students, fort, wayne, the fort, ft wayne, web professionals, dunkin, coldwater, coffee donuts, casual" />
  <meta name="description" content="Screaming Monkeys Web Guild is group which holds re-occuring events in Fort Wayne, Indiana where like-minded web professionals (designers, developers, students, etc) can meet up to talk shop, share ideas, and make connections." />
  <meta name="abstract" content="The Screaming Monkeys Web Guild" />
  <meta name="title" content="The Screaming Monkeys Web Guild" />
  
  <title><%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style', 'scaffold' %>
  
<!-- !Google Analytics
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5311875-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();
	</script>
-->
</head>



  <!--
  Hi curious person that is viewing source of my site.  Now that you are here, I know 
  that you are an uber-nerd. Now I can talk about Star Wars and use my lame Han Solo
  voice...see I'm doing it right now.  Ok, so you are a nerd and you like the codes...
  the html codes to be exact.  Well, you are in a semi-decent area to learn.

  Feel free to learn from, analyze, and/or use the techniques used in this site.  I'm
  just a regular dude that learned css/xhtml/js the same exact way you are doing now.
  However, please don't steal my codes line for line, it's bad Joo Joo and the Universe
  will probably end up kicking your ass. And by Universe I of course am referring to
  Chuck Norris.
  -->




<body id="<%= bodytag_id %>">

<p id="IE6_warning">We've detected that you're using Internet Explorer 6, a ridiculously outdated browser. It was released on August 27, 2001. We no longer support IE6 and suggest that you <a href="http://www.getfirefox.com/" target="_blank">upgrade to Firefox.</a></p>
<div id="container">
  <div id="branding">
    <h1><a href="http://www.screamingmonkeys.org">Screaming Monkeys Web Guild</a></h1>
    <h2><a href="http://www.screamingmonkeys.org">The Boss</a></h2>
  </div>
  <div id="content-container">
		<div id="content-top"></div>  
		<div id="content">
			<ul id="socialplaces">
				<li><a href="http://twitter.com/statuses/user_timeline/16232049.rss" target="_blank" class="fade">RSS</a></li>
				<li><a href="http://www.twitter.com/screaminmonkeys" target="_blank" class="fade">TWITTER</a></li>
				<li><a href="http://www.new.facebook.com/home.php#/group.php?gid=26687578301&amp;ref=ts" target="_blank" class="fade">FACEBOOK</a></li>
				<li><a href="http://www.linkedin.com/groups?about=&amp;gid=904497&amp;trk=anet_ug_grppro" target="_blank" class="fade">LINKEDIN</a></li>
				<li><a href="http://www.flickr.com/groups/screamingmonkeys/" target="_blank" class="fade">FLICKR</a></li>
				<li><a href="http://www.youtube.com/user/screamingmonkeyswg" target="_blank" class="fade">YOUTUBE</a></li>
			</ul>
			
			<div class="slider-wrap">
				<div id="slider" class="csw">
					<div class="panelContainer">