<!-- !EMAIL LIST SIGNUP -->
<div class="panel" title="signup">
	<div class="wrapper">
		<h1>~ get on our list ~</h1>
		<p>Fill out this form with your information and we'll send you cool stuff! Well not really, but you               <strong>will</strong> be added to our email mailing list which I'm told is quite amazing.</p>
		<p>&nbsp;</p>
	 	<form action="http://screamingmonkeys.list-manage.com/subscribe/post" target="_blank" method="post">
						<input type="hidden" name="u" value="786b0a330f13692db0e3df83e" />
						<input type="hidden" name="id" value="ff4fc1d842" />
							<table>
							<tr align="left">
									<td style="text-align:right;"><label>Email Address</label></td>
   									<td align="left"><input type="text" name="MERGE0" size="30" value="" /><strong>*</strong></td>
								</tr>

							<tr align="left">
									<td style="text-align:right;"><label>First Name</label></td>
    								<td align="left"><input type="text" name="MERGE1" size="30" value="" /><strong>*</strong></td>
								</tr>

								<tr align="left">
									<td style="text-align:right;"><label>Last Name</label></td>
    								<td align="left"><input type="text" name="MERGE2" size="30" value="" /></td>
								</tr>

								<tr align="left">
									<td style="text-align:right;"><label>Twitter Screenname</label></td>	
									<td align="left"><input type="text" name="MERGE3" size="30" value="" /></td>
								</tr>
							
							<tr><td>&nbsp;</td></tr>
							
								<tr align="left">
    								<td style="text-align:right;"><label>Preferred Format</label></td>
    								<td align="center"><input type="radio" name="EMAILTYPE" value="html" checked="checked" class="radio" /><label>HTML</label>&nbsp; &nbsp;
       										<input type="radio" name="EMAILTYPE" value="text" class="radio" /><label>Text</label>
   									</td>
								</tr>

					<tr align="left">
						<td colspan="2" style="padding-top:20px;">
										<input type="submit" class="submitbutton" value="signup" style="left:0px; width:60px;" />
									</td>
								</tr>
							</table>
					</form>
	</div>
</div>