<ul id="socialplaces">
	<li><a href="http://twitter.com/statuses/user_timeline/16232049.rss" target="_blank" class="fade">RSS</a></li>
	<li><a href="http://www.meetup.com/screamingmonkeys/" target="_blank" class="fade">MEETUP</a></li>
	<li><a href="http://www.twitter.com/screaminmonkeys" target="_blank" class="fade">TWITTER</a></li>
	<li><a href="http://www.new.facebook.com/home.php#/group.php?gid=26687578301&amp;ref=ts" target="_blank" class="fade">FACEBOOK</a></li>
	<li><a href="http://www.linkedin.com/groups?about=&amp;gid=904497&amp;trk=anet_ug_grppro" target="_blank" class="fade">LINKEDIN</a></li>
	<li><a href="http://www.flickr.com/groups/screamingmonkeys/" target="_blank" class="fade">FLICKR</a></li>
	<li><a href="http://www.youtube.com/user/screamingmonkeyswg" target="_blank" class="fade">YOUTUBE</a></li>
</ul>